.nav{
   float: right;
   font-family: 'Times New Roman', Times, serif;
   
}

.body{
    background-color: black;
}

.nav-link{
 color: white;
}
.nav-item>a:hover{
    color:cyan;
}
.nav>.active>a{
    background-color: aliceblue;
    color: white;
}
.nav-link>.dropdown-toggle>a{
    color:cyan;
}
